interactions:
- request:
    body: null
    headers:
      x-api-key:
      - x3jut7fbkwcp888rl06nash8
    method: GET
    uri: https://api.wiseoldman.net/v2/groups/11114
  response:
    body:
      string: '{"id":11114,"name":"Nevr Lucky","clanChat":"Nevr Lucky","description":"Socializing,
        PvP, PvM, Boss Hunting, Raiding, Slayer, and Ironman Friendly","homeworld":395,"verified":false,"patron":false,"visible":true,"profileImage":null,"bannerImage":null,"score":340,"createdAt":"2025-02-14T12:39:38.632Z","updatedAt":"2025-12-22T13:11:14.209Z","memberCount":303,"socialLinks":{"website":null,"discord":null,"twitter":null,"youtube":null,"twitch":null},"roleOrders":[{"groupId":11114,"role":"owner","index":0},{"groupId":11114,"role":"deputy_owner","index":1},{"groupId":11114,"role":"zenyte","index":2},{"groupId":11114,"role":"dragonstone","index":3},{"groupId":11114,"role":"saviour","index":4},{"groupId":11114,"role":"dragon","index":5},{"groupId":11114,"role":"therapist","index":6},{"groupId":11114,"role":"zamorakian","index":7},{"groupId":11114,"role":"doctor","index":8},{"groupId":11114,"role":"prodigy","index":9},{"groupId":11114,"role":"wrath","index":10},{"groupId":11114,"role":"administrator","index":11},{"groupId":11114,"role":"apothecary","index":12},{"groupId":11114,"role":"runecrafter","index":13},{"groupId":11114,"role":"spellcaster","index":14},{"groupId":11114,"role":"smiter","index":15},{"groupId":11114,"role":"hellcat","index":16},{"groupId":11114,"role":"bob","index":17},{"groupId":11114,"role":"slayer","index":18},{"groupId":11114,"role":"astral","index":19},{"groupId":11114,"role":"wintumber","index":20},{"groupId":11114,"role":"artillery","index":21},{"groupId":11114,"role":"gamer","index":22},{"groupId":11114,"role":"wild","index":23},{"groupId":11114,"role":"tztok","index":24},{"groupId":11114,"role":"short_green_guy","index":25},{"groupId":11114,"role":"prospector","index":26}],"memberships":[{"playerId":1714811,"groupId":11114,"role":"owner","createdAt":"2025-02-14T12:45:18.239Z","updatedAt":"2025-11-28T21:22:47.341Z","player":{"id":1714811,"username":"partymarty94","displayName":"partymarty94","type":"regular","build":"main","status":"active","country":null,"patron":false,"exp":459645894,"ehp":701.0651200000001,"ehb":680.4381900000003,"ttm":519.96875,"tt200m":12088.44072590137,"registeredAt":"2024-03-14T18:18:27.344Z","updatedAt":"2025-12-22T17:27:54.137Z","lastChangedAt":"2025-12-22T17:27:54.137Z","lastImportedAt":null}},{"playerId":1636646,"groupId":11114,"role":"deputy_owner","createdAt":"2025-02-14T12:45:18.239Z","updatedAt":"2025-08-23T23:23:41.709Z","player":{"id":1636646,"username":"docofmed","displayName":"DocOfMed","type":"regular","build":"main","status":"active","country":null,"patron":false,"exp":279598128,"ehp":543.76374,"ehb":331.49366,"ttm":449.9128499999998,"tt200m":12245.74210590137,"registeredAt":"2024-02-27T11:01:24.994Z","updatedAt":"2025-12-22T17:44:05.164Z","lastChangedAt":"2025-12-22[...]
