interactions:
- request:
    body: null
    headers:
      x-api-key:
      - x3jut7fbkwcp888rl06nash8
    method: GET
    uri: https://api.wiseoldman.net/v2/players/partymarty94
  response:
    body:
      string: '{"id":1714811,"username":"partymarty94","displayName":"partymarty94","type":"regular","build":"main","status":"active","country":null,"patron":false,"exp":459645894,"ehp":701.0651200000001,"ehb":680.4381900000003,"ttm":519.96875,"tt200m":12088.44072590137,"registeredAt":"2024-03-14T18:18:27.344Z","updatedAt":"2025-12-22T17:27:54.137Z","lastChangedAt":"2025-12-22T17:27:54.137Z","lastImportedAt":null,"combatLevel":126,"archive":null,"annotations":[],"latestSnapshot":{"id":311774961,"playerId":1714811,"createdAt":"2025-12-22T17:27:54.137Z","importedAt":null,"data":{"skills":{"overall":{"metric":"overall","experience":459645894,"rank":304222,"level":2091,"ehp":701.0651200000001},"attack":{"metric":"attack","experience":15811771,"rank":201296,"level":99,"ehp":32.26892},"defence":{"metric":"defence","experience":24250698,"rank":36497,"level":99,"ehp":55.87245},"strength":{"metric":"strength","experience":70457041,"rank":29891,"level":99,"ehp":0},"hitpoints":{"metric":"hitpoints","experience":85685268,"rank":25734,"level":99,"ehp":0.42843},"ranged":{"metric":"ranged","experience":75068899,"rank":37111,"level":99,"ehp":42.10548},"prayer":{"metric":"prayer","experience":13806134,"rank":25391,"level":99,"ehp":6.90307},"magic":{"metric":"magic","experience":54607180,"rank":13167,"level":99,"ehp":0.27304},"cooking":{"metric":"cooking","experience":13236189,"rank":220757,"level":99,"ehp":14.95147},"woodcutting":{"metric":"woodcutting","experience":13403115,"rank":130707,"level":99,"ehp":64.14773},"fletching":{"metric":"fletching","experience":5934531,"rank":437646,"level":91,"ehp":0.02967},"fishing":{"metric":"fishing","experience":2668167,"rank":612177,"level":82,"ehp":22.12629},"firemaking":{"metric":"firemaking","experience":2911817,"rank":866995,"level":83,"ehp":4.97096},"crafting":{"metric":"crafting","experience":2433589,"rank":606922,"level":82,"ehp":6.89112},"smithing":{"metric":"smithing","experience":1512151,"rank":679055,"level":77,"ehp":4.6819},"mining":{"metric":"mining","experience":6221188,"rank":311113,"level":91,"ehp":62.69018},"herblore":{"metric":"herblore","experience":5401431,"rank":294907,"level":90,"ehp":11.63882},"agility":{"metric":"agility","experience":1508442,"rank":638751,"level":77,"ehp":30.22205},"thieving":{"metric":"thieving","experience":2049238,"rank":566351,"level":80,"ehp":11.03875},"slayer":{"metric":"slayer","experience":39731028,"rank":7970,"level":99,"ehp":297.33917},"farming":{"metric":"farming","experience":13398248,"rank":246557,"level":99,"ehp":8.31992},"runecrafting":{"metric":"runecrafting","experience":1162109,"rank":519914,"level":74,"ehp":6.47369},"hunter":{"metric":"hunter","experience":4672870,"rank":268162,"level":88,"ehp":13.56852},"construction":{"metric":"construction","experience":3714790,"rank":256909,"level":86,"ehp":4.12349},"sailing":{"metric":"sailing","experience":0,"rank":-1,"level":1,"ehp":0}},"bosses":{"abyssal_sire":{"metric":"abyssal_sire","kills":457,"rank":89730,"ehb":10.15556},"alchemical_hydra":{"metric":"alchemical_hydra","kills":3657,"rank":7044,"ehb":121.9},"amoxliatl":{"metric":"amoxliatl","kills":70,"rank":61206,"ehb":1},"araxxor":{"metric":"araxxor","kills":1890,"rank":10684,"ehb":51.08108},"artio":{"metric":"artio","kills":55,"rank":99269,"ehb":0.91667},"barrows_chests":{"metric":"barrows_chests","kills":68,"rank":649654,"ehb":3.09091},"bryophyta":{"metric":"bryophyta","kills":25,"rank":71828,"ehb":2.77778},"callisto":{"metric":"callisto","kills":1306,"rank":17516,"ehb":15.36471},"calvarion":{"metric":"calvarion","kills":62,"rank":145622,"ehb":1.12727},"cerberus":{"metric":"cerberus","kills":36,"rank":327883,"ehb":0.55385},"chambers_of_xeric":{"metric":"chambers_of_xeric","kills":3,"rank":-1,"ehb":0.85714},"chambers_of_xeric_challenge_mode":{"metric":"chambers_of_xeric_challenge_mode","kills":0,"rank":-1,"ehb":0},"chaos_elemental":{"metric":"chaos_elemental","kills":28,"rank":157076,"ehb":0.23333},"chaos_fanatic":{"metric":"chaos_fanatic","kills":52,"rank":118540,"ehb":0.52},"commander_zilyana":{"metric":"commander_zilyana","kills":532,"rank":40602,"ehb":9.17241},"corporeal_beast":{"metric":"corporeal_beast","kills":11,"rank":215864,"ehb":0.18333},"crazy_archaeologist":{"metric":"crazy_archaeologist","kills":182,"rank":35510,"ehb":2.42667},"dagannoth_prime":{"metric":"dagannoth_prime","kills":245,"rank":132802,"ehb":2.33333},"dagannoth_rex":{"metric":"dagannoth_rex","kills":192,"rank":253384,"ehb":1.82857},"dagannoth_supreme":{"metric":"dagannoth_supreme","kills":219,"rank":143914,"ehb":2.08571},"deranged_archaeologist":{"metric":"deranged_archaeologist","kills":25,"rank":198856,"ehb":0.3125},"doom_of_mokhaiotl":{"metric":"doom_of_mokhaiotl","kills":0,"rank":-1,"ehb":0},"duke_sucellus":{"metric":"duke_sucellus","kills":474,"rank":48555,"ehb":15.8},"general_graardor":{"metric":"general_graardor","kills":843,"rank":47956,"ehb":14.53448},"giant_mole":{"metric":"giant_mole","kills":239,"rank":152129,"ehb":1.912},"grotesque_guardians":{"metric":"grotesque_guardians","kills":418,"rank":53448,"ehb":11.2973},"hespori":{"metric":"hespori","kills":61,"rank":204483,"ehb":1.01667},"kalphite_queen":{"metric":"kalphite_queen","kills":74,"rank":179607,"ehb":1.34545},"king_black_dragon":{"metric":"king_black_dragon","kills":25,"rank":591903,"ehb":0.19231},"kraken":{"metric":"kraken","kills":2029,"rank":140045,"ehb":20.29},"kreearra":{"metric":"kreearra","kills":284,"rank":64006,"ehb":7.1},"kril_tsutsaroth":{"metric":"kril_tsutsaroth","kills":648,"rank":16936,"ehb":9.96923},"lunar_chests":{"metric":"lunar_chests","kills":29,"rank":297961,"ehb":1.61111},"mimic":{"metric":"mimic","kills":2,"rank":141942,"ehb":0.03333},"nex":{"metric":"nex","kills":22,"rank":179978,"ehb":0.93617},"nightmare":{"metric":"nightmare","kills":1,"rank":-1,"ehb":0.07143},"phosanis_nightmare":{"metric":"phosanis_nightmare","kills":0,"rank":-1,"ehb":0},"obor":{"metric":"obor","kills":11,"rank":162932,"ehb":0.91667},"phantom_muspah":{"metric":"phantom_muspah","kills":159,"rank":89767,"ehb":6.11538},"sarachnis":{"metric":"sarachnis","kills":267,"rank":66747,"ehb":3.3375},"scorpia":{"metric":"scorpia","kills":476,"rank":13004,"ehb":3.66154},"scurrius":{"metric":"scurrius","kills":136,"rank":112908,"ehb":1.6},"shellbane_gryphon":{"metric":"shellbane_gryphon","kills":0,"rank":-1,"ehb":0},"skotizo":{"metric":"skotizo","kills":111,"rank":6014,"ehb":2.46667},"sol_heredit":{"metric":"sol_heredit","kills":1,"rank":-1,"ehb":0.4},"spindel":{"metric":"spindel","kills":39,"rank":110905,"ehb":0.70909},"tempoross":{"metric":"tempoross","kills":52,"rank":504974,"ehb":0},"the_gauntlet":{"metric":"the_gauntlet","kills":3,"rank":-1,"ehb":0.3},"the_corrupted_gauntlet":{"metric":"the_corrupted_gauntlet","kills":0,"rank":-1,"ehb":0},"the_hueycoatl":{"metric":"the_hueycoatl","kills":311,"rank":14446,"ehb":15.55},"the_leviathan":{"metric":"the_leviathan","kills":1,"rank":-1,"ehb":0.03333},"the_royal_titans":{"metric":"the_royal_titans","kills":1390,"rank":1361,"ehb":23.16667},"the_whisperer":{"metric":"the_whisperer","kills":1,"rank":-1,"ehb":0.04762},"theatre_of_blood":{"metric":"theatre_of_blood","kills":0,"rank":-1,"ehb":0},"theatre_of_blood_hard_mode":{"metric":"theatre_of_blood_hard_mode","kills":0,"rank":-1,"ehb":0},"thermonuclear_smoke_devil":{"metric":"thermonuclear_smoke_devil","kills":4225,"rank":5102,"ehb":28.16667},"tombs_of_amascut":{"metric":"tombs_of_amascut","kills":287,"rank":5004,"ehb":82},"tombs_of_amascut_expert":{"metric":"tombs_of_amascut_expert","kills":375,"rank":17403,"ehb":125},"tzkal_zuk":{"metric":"tzkal_zuk","kills":1,"rank":125176,"ehb":1},"tztok_jad":{"metric":"tztok_jad","kills":14,"rank":89215,"ehb":5.6},"vardorvis":{"metric":"vardorvis","kills":3,"rank":-1,"ehb":0.08108},"venenatis":{"metric":"venenatis","kills":1068,"rank":11037,"ehb":26.7},"vetion":{"metric":"vetion","kills":104,"rank":75072,"ehb":2.08},"vorkath":{"metric":"vorkath","kills":386,"rank":232150,"ehb":11.35294},"wintertodt":{"metric":"wintertodt","kills":73,"rank":1072553,"ehb":0},"yama":{"metric":"yama","kills":7,"rank":116696,"ehb":0.35},"zalcano":{"metric":"zalcano","kills":0,"rank":-1,"ehb":0},"zulrah":{"metric":"zulrah","kills":1134,"rank":111818,"ehb":25.77273}},"activities":{"league_points":{"metric":"league_points","score":0,"rank":-1},"bounty_hunter_hunter":{"metric":"bounty_hunter_hunter","score":0,"rank":-1},"bounty_hunter_rogue":{"metric":"bounty_hunter_rogue","score":0,"rank":-1},"clue_scrolls_all":{"metric":"clue_scrolls_all","score":201,"rank":342689},"clue_scrolls_beginner":{"metric":"clue_scrolls_beginner","score":34,"rank":194538},"clue_scrolls_easy":{"metric":"clue_scrolls_easy","score":25,"rank":302617},"clue_scrolls_medium":{"metric":"clue_scrolls_medium","score":27,"rank":460038},"clue_scrolls_hard":{"metric":"clue_scrolls_hard","score":73,"rank":353251},"clue_scrolls_elite":{"metric":"clue_scrolls_elite","score":37,"rank":147356},"clue_scrolls_master":{"metric":"clue_scrolls_master","score":5,"rank":270225},"last_man_standing":{"metric":"last_man_standing","score":507,"rank":404068},"pvp_arena":{"metric":"pvp_arena","score":2482,"rank":-1},"soul_wars_zeal":{"metric":"soul_wars_zeal","score":0,"rank":-1},"guardians_of_the_rift":{"metric":"guardians_of_the_rift","score":27,"rank":760122},"colosseum_glory":{"metric":"colosseum_glory","score":32451,"rank":63462},"collections_logged":{"metric":"collections_logged","score":527,"rank":90917}},"computed":{"ehp":{"metric":"ehp","value":701.0651200000001,"rank":124678},"ehb":{"metric":"ehb","value":680.4381900000003,"rank":50480}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2564-SCnimPfJKDma14Px9//0SakiYCM"
    status:
      code: 200
      message: OK
version: 1
