interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.wiseoldman.net/v2/groups/1/members?limit=50&offset=0
  response:
    body:
      string: '[{"id":1,"username":"party_marty","displayName":"party marty","role":"owner","joinedAt":"2023-01-15T00:00:00.000Z"},{"id":2,"username":"lapis_lzuli","displayName":"lapis lzuli","role":"member","joinedAt":"2023-02-20T00:00:00.000Z"},{"id":3,"username":"soundtheornn","displayName":"soundtheornn","role":"member","joinedAt":"2023-03-10T00:00:00.000Z"}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
