interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.wiseoldman.net/v2/players/party_marty
  response:
    body:
      string: '{"id":1,"username":"party_marty","displayName":"party marty","type":"regular","lastChangedAt":"2025-12-23T10:00:00.000Z","lastImportedAt":"2025-12-23T09:00:00.000Z","registeredAt":"2023-01-15T00:00:00.000Z","updatedAt":"2025-12-23T11:00:00.000Z","ehp":4594.2,"ehb":1234.5,"latestSnapshot":{"id":1001,"playerId":1,"createdAt":"2025-12-23T11:00:00.000Z","importedAt":null,"data":{"skills":{"overall":{"rank":1000,"level":2386,"experience":4600000000}},"bosses":{"theatre_of_blood":{"rank":500,"kills":250},"chambers_of_xeric":{"rank":1200,"kills":450},"zulrah":{"rank":800,"kills":320}}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
