interactions:
- request:
    body: null
    headers:
      x-api-key:
      - x3jut7fbkwcp888rl06nash8
    method: GET
    uri: https://api.wiseoldman.net/v2/players/party_marty
  response:
    body:
      string: '{"id":2173136,"username":"party marty","displayName":"Party marty","type":"regular","build":"main","status":"active","country":null,"patron":false,"exp":21698210,"ehp":151.8342267217713,"ehb":0,"ttm":747.086490679284,"tt200m":11732.52373052575,"registeredAt":"2024-12-12T08:16:46.343Z","updatedAt":"2025-04-02T22:38:33.685Z","lastChangedAt":"2024-12-12T08:16:48.456Z","lastImportedAt":null,"combatLevel":95,"archive":null,"annotations":[],"latestSnapshot":{"id":226281061,"playerId":2173136,"createdAt":"2025-04-02T22:38:33.685Z","importedAt":null,"data":{"skills":{"overall":{"metric":"overall","experience":21698210,"rank":1248062,"level":1448,"ehp":151.83423},"attack":{"metric":"attack","experience":1986476,"rank":1167763,"level":80,"ehp":0},"defence":{"metric":"defence","experience":917947,"rank":1421469,"level":72,"ehp":1.15068},"strength":{"metric":"strength","experience":1212576,"rank":1784892,"level":75,"ehp":0},"hitpoints":{"metric":"hitpoints","experience":1746060,"rank":1621195,"level":78,"ehp":0.00873},"ranged":{"metric":"ranged","experience":1238258,"rank":1735556,"level":75,"ehp":1.04055},"prayer":{"metric":"prayer","experience":245528,"rank":1603566,"level":58,"ehp":0.12276},"magic":{"metric":"magic","experience":-1,"rank":-1,"level":1,"ehp":0},"cooking":{"metric":"cooking","experience":993551,"rank":1172608,"level":73,"ehp":1.45358},"woodcutting":{"metric":"woodcutting","experience":764336,"rank":1409275,"level":70,"ehp":5.43168},"fletching":{"metric":"fletching","experience":277312,"rank":1693475,"level":60,"ehp":0.00139},"fishing":{"metric":"fishing","experience":496392,"rank":1493323,"level":66,"ehp":5.72901},"firemaking":{"metric":"firemaking","experience":292328,"rank":1820400,"level":60,"ehp":1.2066},"crafting":{"metric":"crafting","experience":365160,"rank":1529034,"level":62,"ehp":1.35307},"smithing":{"metric":"smithing","experience":474176,"rank":1293348,"level":65,"ehp":1.95039},"mining":{"metric":"mining","experience":7958357,"rank":202325,"level":94,"ehp":77.66221},"herblore":{"metric":"herblore","experience":114652,"rank":1508783,"level":51,"ehp":1.21041},"agility":{"metric":"agility","experience":827933,"rank":1042716,"level":71,"ehp":19.81634},"thieving":{"metric":"thieving","experience":112050,"rank":1887989,"level":51,"ehp":4.56083},"slayer":{"metric":"slayer","experience":549407,"rank":1285504,"level":67,"ehp":22.32578},"farming":{"metric":"farming","experience":257816,"rank":1298025,"level":59,"ehp":2.48143},"runecrafting":{"metric":"runecrafting","experience":154535,"rank":1127106,"level":54,"ehp":2.87522},"hunter":{"metric":"hunter","experience":170333,"rank":1431863,"level":55,"ehp":0.9224},"construction":{"metric":"construction","experience":107163,"rank":1414968,"level":50,"ehp":0.53117},"sailing":{"metric":"sailing","experience":-1,"rank":-1,"level":1,"ehp":0}},"bosses":{"abyssal_sire":{"metric":"abyssal_sire","kills":-1,"rank":-1,"ehb":0},"alchemical_hydra":{"metric":"alchemical_hydra","kills":-1,"rank":-1,"ehb":0},"amoxliatl":{"metric":"amoxliatl","kills":-1,"rank":-1,"ehb":0},"araxxor":{"metric":"araxxor","kills":-1,"rank":-1,"ehb":0},"artio":{"metric":"artio","kills":-1,"rank":-1,"ehb":0},"barrows_chests":{"metric":"barrows_chests","kills":-1,"rank":-1,"ehb":0},"bryophyta":{"metric":"bryophyta","kills":-1,"rank":-1,"ehb":0},"callisto":{"metric":"callisto","kills":-1,"rank":-1,"ehb":0},"calvarion":{"metric":"calvarion","kills":-1,"rank":-1,"ehb":0},"cerberus":{"metric":"cerberus","kills":-1,"rank":-1,"ehb":0},"chambers_of_xeric":{"metric":"chambers_of_xeric","kills":-1,"rank":-1,"ehb":0},"chambers_of_xeric_challenge_mode":{"metric":"chambers_of_xeric_challenge_mode","kills":-1,"rank":-1,"ehb":0},"chaos_elemental":{"metric":"chaos_elemental","kills":-1,"rank":-1,"ehb":0},"chaos_fanatic":{"metric":"chaos_fanatic","kills":-1,"rank":-1,"ehb":0},"commander_zilyana":{"metric":"commander_zilyana","kills":-1,"rank":-1,"ehb":0},"corporeal_beast":{"metric":"corporeal_beast","kills":-1,"rank":-1,"ehb":0},"crazy_archaeologist":{"metric":"crazy_archaeologist","kills":-1,"rank":-1,"ehb":0},"dagannoth_prime":{"metric":"dagannoth_prime","kills":-1,"rank":-1,"ehb":0},"dagannoth_rex":{"metric":"dagannoth_rex","kills":-1,"rank":-1,"ehb":0},"dagannoth_supreme":{"metric":"dagannoth_supreme","kills":-1,"rank":-1,"ehb":0},"deranged_archaeologist":{"metric":"deranged_archaeologist","kills":-1,"rank":-1,"ehb":0},"doom_of_mokhaiotl":{"metric":"doom_of_mokhaiotl","kills":-1,"rank":-1,"ehb":0},"duke_sucellus":{"metric":"duke_sucellus","kills":-1,"rank":-1,"ehb":0},"general_graardor":{"metric":"general_graardor","kills":-1,"rank":-1,"ehb":0},"giant_mole":{"metric":"giant_mole","kills":-1,"rank":-1,"ehb":0},"grotesque_guardians":{"metric":"grotesque_guardians","kills":-1,"rank":-1,"ehb":0},"hespori":{"metric":"hespori","kills":-1,"rank":-1,"ehb":0},"kalphite_queen":{"metric":"kalphite_queen","kills":-1,"rank":-1,"ehb":0},"king_black_dragon":{"metric":"king_black_dragon","kills":-1,"rank":-1,"ehb":0},"kraken":{"metric":"kraken","kills":-1,"rank":-1,"ehb":0},"kreearra":{"metric":"kreearra","kills":-1,"rank":-1,"ehb":0},"kril_tsutsaroth":{"metric":"kril_tsutsaroth","kills":-1,"rank":-1,"ehb":0},"lunar_chests":{"metric":"lunar_chests","kills":-1,"rank":-1,"ehb":0},"mimic":{"metric":"mimic","kills":-1,"rank":-1,"ehb":0},"nex":{"metric":"nex","kills":-1,"rank":-1,"ehb":0},"nightmare":{"metric":"nightmare","kills":-1,"rank":-1,"ehb":0},"phosanis_nightmare":{"metric":"phosanis_nightmare","kills":-1,"rank":-1,"ehb":0},"obor":{"metric":"obor","kills":-1,"rank":-1,"ehb":0},"phantom_muspah":{"metric":"phantom_muspah","kills":-1,"rank":-1,"ehb":0},"sarachnis":{"metric":"sarachnis","kills":-1,"rank":-1,"ehb":0},"scorpia":{"metric":"scorpia","kills":-1,"rank":-1,"ehb":0},"scurrius":{"metric":"scurrius","kills":-1,"rank":-1,"ehb":0},"shellbane_gryphon":{"metric":"shellbane_gryphon","kills":-1,"rank":-1,"ehb":0},"skotizo":{"metric":"skotizo","kills":-1,"rank":-1,"ehb":0},"sol_heredit":{"metric":"sol_heredit","kills":-1,"rank":-1,"ehb":0},"spindel":{"metric":"spindel","kills":-1,"rank":-1,"ehb":0},"tempoross":{"metric":"tempoross","kills":-1,"rank":-1,"ehb":0},"the_gauntlet":{"metric":"the_gauntlet","kills":-1,"rank":-1,"ehb":0},"the_corrupted_gauntlet":{"metric":"the_corrupted_gauntlet","kills":-1,"rank":-1,"ehb":0},"the_hueycoatl":{"metric":"the_hueycoatl","kills":-1,"rank":-1,"ehb":0},"the_leviathan":{"metric":"the_leviathan","kills":-1,"rank":-1,"ehb":0},"the_royal_titans":{"metric":"the_royal_titans","kills":-1,"rank":-1,"ehb":0},"the_whisperer":{"metric":"the_whisperer","kills":-1,"rank":-1,"ehb":0},"theatre_of_blood":{"metric":"theatre_of_blood","kills":-1,"rank":-1,"ehb":0},"theatre_of_blood_hard_mode":{"metric":"theatre_of_blood_hard_mode","kills":-1,"rank":-1,"ehb":0},"thermonuclear_smoke_devil":{"metric":"thermonuclear_smoke_devil","kills":-1,"rank":-1,"ehb":0},"tombs_of_amascut":{"metric":"tombs_of_amascut","kills":-1,"rank":-1,"ehb":0},"tombs_of_amascut_expert":{"metric":"tombs_of_amascut_expert","kills":-1,"rank":-1,"ehb":0},"tzkal_zuk":{"metric":"tzkal_zuk","kills":-1,"rank":-1,"ehb":0},"tztok_jad":{"metric":"tztok_jad","kills":-1,"rank":-1,"ehb":0},"vardorvis":{"metric":"vardorvis","kills":-1,"rank":-1,"ehb":0},"venenatis":{"metric":"venenatis","kills":-1,"rank":-1,"ehb":0},"vetion":{"metric":"vetion","kills":-1,"rank":-1,"ehb":0},"vorkath":{"metric":"vorkath","kills":-1,"rank":-1,"ehb":0},"wintertodt":{"metric":"wintertodt","kills":-1,"rank":-1,"ehb":0},"yama":{"metric":"yama","kills":-1,"rank":-1,"ehb":0},"zalcano":{"metric":"zalcano","kills":-1,"rank":-1,"ehb":0},"zulrah":{"metric":"zulrah","kills":-1,"rank":-1,"ehb":0}},"activities":{"league_points":{"metric":"league_points","score":-1,"rank":-1},"bounty_hunter_hunter":{"metric":"bounty_hunter_hunter","score":-1,"rank":-1},"bounty_hunter_rogue":{"metric":"bounty_hunter_rogue","score":-1,"rank":-1},"clue_scrolls_all":{"metric":"clue_scrolls_all","score":15,"rank":1081957},"clue_scrolls_beginner":{"metric":"clue_scrolls_beginner","score":7,"rank":538378},"clue_scrolls_easy":{"metric":"clue_scrolls_easy","score":5,"rank":787799},"clue_scrolls_medium":{"metric":"clue_scrolls_medium","score":3,"rank":1049165},"clue_scrolls_hard":{"metric":"clue_scrolls_hard","score":-1,"rank":-1},"clue_scrolls_elite":{"metric":"clue_scrolls_elite","score":-1,"rank":-1},"clue_scrolls_master":{"metric":"clue_scrolls_master","score":-1,"rank":-1},"last_man_standing":{"metric":"last_man_standing","score":-1,"rank":-1},"pvp_arena":{"metric":"pvp_arena","score":-1,"rank":-1},"soul_wars_zeal":{"metric":"soul_wars_zeal","score":-1,"rank":-1},"guardians_of_the_rift":{"metric":"guardians_of_the_rift","score":-1,"rank":-1},"colosseum_glory":{"metric":"colosseum_glory","score":-1,"rank":-1},"collections_logged":{"metric":"collections_logged","score":-1,"rank":-1}},"computed":{"ehp":{"metric":"ehp","value":151.8342267217713,"rank":709103},"ehb":{"metric":"ehb","value":0,"rank":1228444}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2318-yHoisaa8bXGJxwgPemnLrxEbAnY"
    status:
      code: 200
      message: OK
version: 1
